@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-4 ">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4">
                <p class="card-text">
                    Mero University is a sample application that demonstrate
                    how to use the EntityFrameworkCore in an ASP.NET Razor
                    Pages web app.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static ">
                <p class="card-text mb-auto">
                    You can build the application by following the steps in the seies
                    of the tutorial.
                </p>                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                    You can downlaod the completed project from the Github also.
                </p>
                <p>
                    <a href="https://github.com/neevan01/MeroUniversity" class="stretched-link">See project source code</a>
                </p>
            </div>
        </div>
    </div>
</div>
